HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Configuration Files ###
src/main/resources/application.yml
src/test/resources/application-test-mysql.yml.yml
src/test/resources/application-test-h2.yml.yml.yml
src/test/resources/application-sandbox.yml.yml.yml.yml

### Datasource file ###
.h2

### DockerFile ###
Dockerfile